<%= form_for(@service, :builder => StarsFormBuilder, :html => {:multipart => true}) do |f| %>
    <% if @service.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

          <ul>
            <% @service.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id, :value => 1 %>

    <div class="field">
      <%= f.label :lang %>
      <br/>
      <%= f.collection_select(:lang, Language.collection, :cut, :name, :prompt => false) %>
    </div>
    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :presentation %>
      <br/>
      <%= f.file_field :presentation %>
    </div>
    <div class="field">
      <%= f.label :item_order %>
      <br/>
      <%= f.number_field :item_order %>
    </div>
    <div class="field">
      <%= f.label :short_url %>
      <br/>
      <%= f.text_field :short_url %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
