<%= link_to '+New Service', new_service_path if can?(:manage, Service)  %>

<div class="works-container">
  <% @services.each_with_index do |service, i| %>
      <div class="service">
        <span><%= i + 1 %></span>
        <%= link_to '+Edit', edit_service_path(service) if can?(:manage, Service) %> <%= link_to '-Destroy', service, confirm: 'Are you sure?', method: :delete if can?(:manage, Service) %>
        <h2><%= service.title %></h2>
        <p><%= service.description %></p>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    Cufon.replace(".service span");
</script>
