<%= link_to '+New Service', new_service_path if can?(:manage, Service)  %>

<div class="works-container">
  <% @services.each_with_index do |service, i| %>
      <div class="service">
        <span><%= i + 1 %></span>
        <%= controls_panel(service) %>
        <h2><%= service.title %></h2>
        <p><%= service.description %></p>
        <%= link_to t("activerecord.attributes.service.presentation_download"), service.presentation.url(), :target => "_blank" if service.presentation_file_name? %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    Cufon.replace(".service span");
</script>
