<%= link_to 'New Service', new_service_path %>

<ul>
  <% @services.each do |service| %>
      <li>
        <h1><%= service.title %></h1>
        <%= link_to 'Edit', edit_service_path(service) %> | <%= link_to 'Destroy', service, confirm: 'Are you sure?', method: :delete %>
        <%= service.description %>
      </li>
  <% end %>
</ul>