<p id="notice"><%= notice %></p>

<h1><%= @top_level.title %></h1>

<p>
  <%= @top_level.description %>
</p>

<%= link_to 'Edit', edit_top_level_path(@top_level) %> | <%= link_to 'Back', top_levels_path %>
