<h1>Listing works</h1>

<table>
  <tr>
    <th>Lang</th>
    <th>Title</th>
    <th>Description</th>
    <th>Full text</th>
    <th>With web page</th>
    <th>Web url</th>
    <th>Tape color</th>
    <th>Short url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= work.lang %></td>
    <td><%= work.title %></td>
    <td><%= work.description %></td>
    <td><%= work.full_text %></td>
    <td><%= work.with_web_page %></td>
    <td><%= work.web_url %></td>
    <td><%= work.tape_color %></td>
    <td><%= work.short_url %></td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work', new_work_path %>
