<% if @work.with_web_page? %>
    <%= controls_panel @work %>
<% else %>
    <div class="inner-container">
      <h1><%= @work.title %></h1>
      <%= controls_panel @work %>
      <div id="slides">
        <div class="slides_container">
          <% if @work.preview_file_name? %>
              <%= image_tag(@work.preview.url(:big), :alt => @work.title) %>
          <% end %>
        </div>
      </div>
      <div class="post-description"><%= raw @work.description %></div>
      <br/>

      <div class="post-content">
        <%= raw @work.full_text %>
      </div>

      <%= render "service_partial/social_panel", :target => @work %>
    </div>
<% end %>


