<div id="works-list">
  <% @works.each_with_index do |work, i| %>
      <div class="work-box <%= i%3 == 0 || i == 0 ? "big-box" : "medium-box" %> <%= ViewType.by_id(work.view_id) %>">
        <!--:medium => '740x390>',-->
        <!--:big => '380x450>'-->
        <%= link_to image_tag(work.preview.url(i%5 == 0 || i == 0 ? :big : :medium),
                              :alt => work.title),
                    work_short_path(work.short_url)
        %>

        <div class="work-description">
          <h2><%= work.title %></h2>

          <p>
            <%= work.description %>
          </p>

        </div>
      </div>
  <% end %>
</div>

<nav id="page-nav">
  <a href="<%= "/#{I18n.locale}/work/page/#{params[:page].nil? ? 2 : params[:page] + 1}" %>"></a>
</nav>

<script type="text/javascript">
    $(function () {
        var $container = $('#works-list');

        $container.imagesLoaded(function () {
            $container.masonry({
                itemSelector:'.work-box',
                isAnimated:true,
                isFitWidth:true,
                columnWidth:20
            });
        });

        $container.infinitescroll({
                    navSelector:'#page-nav',
                    nextSelector:'#page-nav a',
                    itemSelector:'.work-box',
                    loading:{
                        finishedMsg:'No more pages to load.',
                        img:'http://i.imgur.com/6RMhx.gif'
                    }
                },
                function (newElements) {
                    var $newElems = $(newElements).css({ opacity:0 });
                    $newElems.imagesLoaded(function () {
                        $newElems.animate({ opacity:1 });
                        $container.masonry('appended', $newElems, true);
                    });
                }
        );
    });
</script>












