<%= form_for(@post, :builder => StarsFormBuilder, :html => {:multipart => true}) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id, :value => 1 %>

    <div class="field">
      <%= f.label :lang %>
      <br/>
      <%= f.collection_select(:lang, Language.collection, :cut, :name, :value => I18n.locale, :prompt => false) %>
    </div>
    <% if @post.preview_file_name? %>
        <%= image_tag(@post.preview.url(:social_preview)) %>
    <% end %>
    <div class="field">
      <%= f.label :preview %>
      <br/>
      <%= f.file_field :preview %>
    </div>
    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description, :rows => 5, :cols => 55 %>
    </div>
    <div class="field">
      <%= f.label :full_text %>
      <br/>
      <%= f.text_area :full_text %>
    </div>

    <% if @post.sign_board_image_file_name? %>
        <%= image_tag(@post.sign_board_image.url(:preview)) %>
    <% end %>
    <div class="field">
      <%= f.label :sign_board_image %>
      <br/>
      <%= f.file_field :sign_board_image %>
    </div>
    <div class="field">
      <%= f.label :sign_board_text %>
      <br/>
      <%= f.text_area :sign_board_text, :rows => 21, :cols => 21 %>
    </div>

    <!--sign_board_image-->

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<script language="javascript">
    $(document).ready(function () {
        $("#post_full_text").markItUp(mySettings);
    })
</script>
