<%= link_to 'New Post', new_post_path %>
<% @posts.each do |post| %>
    <h2><%= post.title %> <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></h2>

    <% if post.preview_file_name? %>
        <%= image_tag(post.preview.url(:big)) %>
    <% end %>
    <div class="post-description"><%= post.description %></div>

    <br/>

    <div class="post-content"><%= post.full_text %></div>
    <div class="sign-board">
      <% if post.sign_board_image_file_name? %>
          <%= image_tag(post.sign_board_image.url(:preview)) %>
      <% end %>
      <%= post.sign_board_text %>
    </div>
<% end %>
