<div id="sidebar" <%= "style = 'background-color: #{TapeColor.by_id(@work.tape_color)};'" if !@work.nil? %>>
  <%= link_to(yield(:title),
              controller.controller_name != "welcomes" ? "/" : "#",
              :title => @welcome.title,
              :class => "logo")
  %>

  <hr>
  <header>
    <h1><%= @welcome.title %></h1>

    <p class="description">
      <%= @welcome.description %>
    </p>
  </header>

  <nav class="main-menu">
    <%= render "layouts/main_menu" %>
  </nav>

  <h2><%= t('activerecord.attributes.welcome.contacts') %></h2>

  <p class="contacts">
    <%= @welcome.phone %>
    <br/>
    <%= @welcome.email %>
  </p>

  <address>
    <%= @welcome.address %>
  </address>

  <%= render 'layouts/map' %>

  <div class="twitter-follow">
    <%= render "service_partial/twitter_follow" %>
  </div>

  <div class="fb-like-box">
    <%= render "service_partial/fb_like_box" %>
  </div>

</div>