<div id="sidebar" <%= "class = '#{TapeStyle.by_id(@work.tape_color)}'" unless @work.nil? %>>
  <%#= link_to(yield(:title), controller.controller_name != "welcomes" ? "/" : "#", :title => @welcome.title, :id => "logo") %>
  <%= link_to(yield(:title), root_path, :title => @welcome.title, :id => "logo") %>
  <header>
    <% if can?(:manage, @welcome) %>
        <span><%= link_to "+Edit", edit_welcome_path(@welcome) %></span>
    <% end %>
    <h1><%= @welcome.title %></h1>

    <p>
      <%= @welcome.description %>
    </p>
  </header>

  <nav>
    <%= render "layouts/main_menu" %>
  </nav>

  <h2><%= t('activerecord.attributes.welcome.contacts') %></h2>
  <address>
    <p class="contacts">
      <%= @welcome.phone %>
      <br/>
      <%= link_to @welcome.email, "mailto:#{@welcome.email}", :title => "Написать нам" %> <!-- TODO! title need localization -->
    </p>

    <p>
      <%= @welcome.address %>
    </p>
  </address>

  <%= render 'layouts/map' %>

  <div class="plugin">
    <%= render "service_partial/twitter_follow" %>
  </div>

  <div class="plugin fb-like">
    <%= render "service_partial/fb_like_box" %>
  </div>

</div>