<div id="sidebar" <%= "style = 'background-color: #{TapeColor.by_id(@work.tape_color)};'" if !@work.nil? %>>
  <%= controller.controller_name != "welcomes" ? link_to(image_tag("logo.png", :alt => yield(:title)), "/", :title => @welcome.title, :class => "bs-logo") : image_tag("logo.png", :alt => yield(:title), :class => "bs-logo") %>

  <h2><%= @welcome.title %></h2>
  <p><%= @welcome.description %></p>

  <%= render "layouts/main_menu" %>

  <p><%= t('activerecord.attributes.welcome.contacts') %></p>

  <%= @welcome.phone %><br/>
  <%= @welcome.email %><br/>
  <%= @welcome.address %><br/>

  <%= render 'layouts/map' %>

  <%= render "service_partial/twitter_follow" %>
  <%= render "service_partial/fb_like_box" %>

</div>