<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= yield(:title) %></title>

  <meta charset="utf-8"/>
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="keywords" content="<%= yield(:keywords) %>">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>

<iframe id="remote-site" src="<%= @work.web_url %>" frameborder="0" scrolling=no></iframe>

<%= render "layouts/side_bar" %>

<div id="main">
  <%= render "layouts/lang_switch" %>
  <%= yield %>
</div>

<footer>
  <%= yield :scripts %>

  <script type="text/javascript">

      $("#remote-site").load(function () {
          iFrameSetDimentions();
      });


      $(function () {
          $(window).resize(function () {
              iFrameSetDimentions();
          });
      });

      function iFrameSetDimentions() {
          iFrameWidth = <%= @work.width %>;
//          iFrameWidth = $(window).width();
          iFrameHeight = 2000;

          $("#remote-site").css("width", iFrameWidth);
          $("#remote-site").css("height", iFrameHeight);
      }
  </script>
</footer>

</body>
</html>